build*/
release/
debug/
.qtc_clangd/
bin/
bin_win/
bin_linux/

.qmake.stash
Makefile
Makefile*

*user
*.user

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.Debug
*.Release
